body {
  background-color: gray;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 50px;
}

.logo {
  display: flex;
  height: 40px;
  width: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-left: 20px;
}

.nav__list :first-child {
  margin-left: 0;
}

.nav__link {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0;
  height: 60px;
  color: #000;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__link.is-active {
  color: #00acdc;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  height: 4px;
  background-color: #00acdc;
  border-radius: 8px;
}
